html {
    background-color: black
}

body {
    overflow: hidden;
}
canvas#Trainer {
    float:right;
}


#sidebar_inner h1 {
  font-size: 15px;
}
#sidebar {
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
#sidebar_inner {
  background-color: white;
  position: fixed;
  top: 0px;
  left: -200px;
  width: 200px;
  height: 100%;
  font-size: 15px;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
#sidebar:hover {
  background-color: white;
  left: 200px;
}
#sidebar:hover #sidebar_inner {
  left: 0;

h1 {
    font: 20px "Linux Libertine O", serif;
    margin: 5px 6px 5px 20px;
    padding: 0px 6px 0px 1px;
    padding-left: 3px;
}

.container-left {
    width:50%;
    float:left;
    text-align: right;
}
.container-right {
    width:20%;
    float: left;
    margin-left:14px;
}

.menu {
    font: 18px "Source Sans Pro", sans;
    font-weight: 100;
}

img {
    float: left;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration:none
    color: black;
}

.block {
    float: left;
    width: 100%;
}
#new_article {
    margin-top: 50px;
    margin-left: 50px;
}
