<!DOCTYPE html>

<head>
    <title>Figure Drawing Trainer</title>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
    <script src="../static/jquery-2.1.4.js"></script>
    <script src="../static/script.js"></script>

    <canvas id="Trainer"></canvas>

        <div id="sidebar">
          +++
          <div id="sidebar_inner">
            <a id="link_to_article" href="something"> <h1 id="article_title"></h1></a>

            <div class="container-left">
                <div class="menu">
                    Speed
                </div>
            </div>
            <div class="container-right">

                <input id="speed" type="number" value="30"/>
                <br>
                <input name="url" label="url" id="url_form" value="http://cor.gi"/>
                <br>
                <button onclick="getJson();" name="Scrape"> Scrape! </button>
                <br>
                Next Image
                <input type="checkbox" label="next image" id="next_image" value="false"/>
            </div>
          </div>
        </div>

</body>
